#contact .title {
    grid-column-end: span 4;
    display: flex;
    color: black;
    font-size: 1.2rem;
    font-family: 'Bitter', serif;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
}
